beautifulsoup4==4.11.2
dash==2.8.1
dash_bootstrap_components==1.4.0
dash_html_components==2.0.0
dash_labs==1.2.0
Flask==2.1.1
flask_bootstrap==3.3.7.1
flask_testing==0.8.1
flask_wtf==1.1.1
numpy==1.24.2
pandas==1.5.3
plotly==5.13.1
pyquery==2.0.0
requests==2.25.1
selenium==4.8.2
SQLAlchemy==2.0.6
sqlalchemy_utils==0.40.0
WTForms==3.0.1
