{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}Extractor |{% endblock %}
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <!-- start -->
    <!-- <script href="{{ url_for('static',filename='js/jquery.js')}}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- start -->
    <script>
        $(document).ready(function(){
        $('#form_extractor_scopus').on('submit', function(event){
        //   event.preventDefault();         
          $.ajax({
          url:"/extractor",
          method:"POST",
          data:$(this).serialize(),
          beforeSend:function()
          {
           $('#submit_scopus').attr('disabled', 'disabled');
           $('#process').css('display', 'block');
           $('#logo_static').css('display', 'none');
           $('#logo_load').css('display', 'block');
          },
          success:function(data)
          { 
            clearInterval(timer);
                $('#form_extractor_scopus')[0].reset();
                $('#process').css('display', 'none');
                $('#logo_load').css('display', 'none');
                $('#logo_static').css('display', 'block');
                $('.progress-bar').css('width', '0%');
                $('#submit_scopus').attr('disabled', false);
                // $('#success_message').html(data);
                setTimeout(function(){
                // $('#success_message').html('');
                // location.reload();
                }, 1000);
          }
         })              
        });                      
        });
    </script>
    <!-- end -->

{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar_scopus.html' %}
    {% endblock %}
    
    {% for message in get_flashed_messages() %}
        {% if message == 'Error de conexión' or message == 'Credenciales inválidas' %}
            <div class="alert alert-danger alert-dismissible center-block" style="max-width: 90rem;">
                <button type="button"
                        data-dismiss="alert"
                        class="close">&times;</button>
                {{ message }}
            </div>        
        {% else %}
        <div class="alert alert-success alert-dismissible center-block" style="max-width: 90rem;">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div> 
        {% endif %}
    {% endfor %}
    
    {% block content %}{% endblock %}
    {% block scripts %}
        {{ super()}}<!--para heredar todos los scripts -->
    {% endblock %}
{% endblock %}
