<div class="container demo">	
	<!-- Modal -->
	<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Extractor de datos de las plataforma Scopus</h4>
				</div>

				<div class="modal-body">
					<h3 class="panel-title">Esta herramienta extrae los datos obtenidos desde Scopus. Para hacer uso de ella, se requiere ingresar el author Id o el eid del producto de interés, 
						los cuales se pueden obtener desde de Scopus utilizando el link del perfil del autor o del producto respectivamente.
                       <br><br>
                    </h3>
                        <h5 class="text-wrap mb-0">Ejemplo author Id: https://www.scopus.com/authid/detail.uri?authorId=<b>7006191508</b></h5>
                        <h5 class="text-wrap mb-0">Ejemplo eid de Producto: https://www-scopus-com.acceso.unicauca.edu.co/record/display.uri?eid=<b>2-s2.0-85137199103</b>&origin=resultslist&sort=plf-f</h5>
                </div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->	
</div><!-- container -->
