<div class="container demo">	
	<!-- Modal -->
	<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Extractor de datos de las plataformas de Scienti</h4>
				</div>

				<div class="modal-body">
					<h3 class="panel-title">Esta herramienta extrae los datos del aplicativo CvLAC y GrupLAC pertenecientes al sistema Scienti en Colombia. <br>Para utilizar esta herramienta, se requiere ingresar el enlace del CvLAC o GrupLAC de interés y la plataforma extraerá la información pública disponible en el sistema.<br>
                        Se recomienda que cualquier persona que utilice esta herramienta lea detenidamente la política de privacidad y los términos de uso definidos por MinCiencias, que establece las pautas y normas para el uso ético de los datos.<br>
						<a href="https://minciencias.gov.co/ciudadano/terminosycondiciones-datospersonales" target="_blank" rel="noopener" style="color: blue;">Política de uso de la información</a><br><br>
                    </h3>
                        <h5 class="text-wrap mb-0">Ejemplo link CvLAC: https://scienti.minciencias.gov.co/gruplac/jsp/ visualiza/visualizagr.jsp?nro=00000000000001</h5>
                        <h5 class="text-wrap mb-0">Ejemplo link GrupLAC: https://scienti.minciencias.gov.co/cvlac/ visualizador/generarCurriculoCv.do?cod_rh=000000001</h5>
                </div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->	
</div><!-- container -->
