<div class="navbar navbar-dark bg-dark" style="background-color: #d38135;" role="navigation" >
    <div class="container" style="max-width: 90rem;">
        <div class="navbar-header">           
            <a class="navbar-brand" href="{{ url_for('extractor') }}">
                <div class="logo_static" id="logo_static" style="display:block;">
                    <img src="{{ url_for('static',filename='images/logo.png') }}"
                    alt="logo jack">
                </div>
                <div class="logo_load" id="logo_load" style="display:none;">
                    <div class="loaderLogo">                
                        <div class="inner one"></div>
                        <div class="inner two"></div>
                        <div class="inner three"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="navbar-text">
            <h4 class="navbar-text">Extractor Scopus / Dashboard Analytics</h4>            
            <ul class="nav navbar-nav pull-xs-right">
                
                {% if apikey or token %}
                    <li class="nav-item custom-orange" data-toggle="modal" data-target="#myModal"><a href="#">Instrucciones</a></li>
                    <!-- <li class="nav-item custom-orange"><a href="{{ url_for('extractor') }}">Extractor</a></li>  -->
                    <li class="nav-item custom-orange"><a href="{{ url_for('logout') }}">Cerrar sesión</a></li> 
                {% else %}
                    <li class="nav-item custom-orange"><a href="{{ url_for('index') }}">Inicio</a></li>
                {% endif %}
                <!-- <li class="nav-item custom-orange"><a href="{{ url_for('extractor') }}">Extractor</a></li>                 -->
                <!-- <li><a href="{{ url_for('scopus') }}">Scopus</a></li> 
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li> -->
            </ul>
        </div>        
    </div>
</div>