<!-- Botón en HTML (lanza el modal en Bootstrap) -->
<a href="#victorModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Abrir ventana modal</a>
  
<!-- Modal / Ventana / Overlay en HTML -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">            
            
                <div class="loader">                
                    <div class="inner one">                        
                    </div>
                    <div class="inner two">                        
                    </div>
                    <div class="inner three">                        
                    </div>
                </div>
                        
        </div>
    </div>
</div>
